@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

html {
  /*box-sizing: border-box;*/
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  font-family: 'Arial', sans-serif;
  /*font-optical-sizing: auto;*/
  /*font-variation-settings: normal;*/
}
body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  @apply text-6xl;
  font-weight: bold;
}
h2 {
  @apply text-5xl;
  font-weight: bold;
}
h3 {
  @apply text-4xl;
}
